<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luaps Apps</title>
    <link rel="shortcut icon" href="./images/icons/logo.png" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
    />
    <meta name="description" content="Luaps Apps adalah aplikasi berisikan katalog restaurant di Indonesia">
    <link rel="manifest" href="manifest.json">
</head>
<body>
  <a href="#content" class="skip-link">Skip to content ?</a>
    <!-- navbar -->
    <nav class="navbar">
      <img src="./images/icons/logo.png" alt="logo" class="logoImg">
        <a class="logo" href="">Luaps Apps</a>
        <ul class="listNav">
            <li class="item" id="itemMobileAll"><a href="#">Home</a></li>
            <li class="item"><a href="#/favorite">Favorite</a></li>
            <li class="item"><a href="https://github.com/auryno19">About Us</a></li>
        </ul>
    </nav>

    <!-- navbar mobile -->
    <div class="menuMobile">
      <div class="iconMobile" id="menu"><a href="#">&#9776;</a></div>
      <div class="logoMobile">Luaps Apps</div>
      <div class="logoMobile">&nbsp;</div>
    </div>
    <nav class="navbarMobile" id="menuNavbar">
      <ul class="listNavMobile">
        <li class="itemMobile"><a href="#">Home</a></li>
        <li class="itemMobile"><a href="#/favorite">Favorite</a></li>
        <li class="itemMobile"><a href="https://github.com/auryno19">About Us</a></li>
       </ul>
    </nav>

    <!-- jumbotron -->
    <!-- <picture>
    <source media="(max-width: 600px)" srcset="/images/heros/hero-image_4-small.jpg">-->
    <div class="hero">
        <div class="innerHero">
            <h1 class="title">Luaps Apps</h1>
            <p class="subt">Find the best food and the best restaurant in all of Indonesia.</p>
        </div>
    </div>
    <!-- </picture> -->
    <!-- content -->
    <main id="content">
        <section class="content">
            <div class="innerContent">
                <h1 id="restoTitle">Explore Resturant</h1>
                <div class="detailCategory" id="detailCategory">
                </div>
                <div class="list" id="restoList"></div>
                <div class="detail" id="detailResto"></div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <p>Copyright © 2023 - Luaps Apps</p>
        <p>Made by Auryno Nagata Adyatma</p>
    </footer>
</body>
</html>