.navbar {
	background-image: linear-gradient(rgb(0, 13, 27) max(1rem, 4vh),rgba(0, 0, 0, 0));
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	position: fixed;
	z-index:300;
}
.navbar a {
	display: inline-block;
	padding: 20px 15px 20px 15px;
	text-decoration: none;
	color: white !important
}
.navbar a:hover {
	text-decoration: none
}
.logo {
    pointer-events: none;
	width: 15%;
	padding: 0;
	margin: 0;
	text-align: left;
	box-sizing: border-box;             
	display: inline-block;
	line-height: 24px;
  	font-size: 18px;
  	font-weight: bolder;
}
.logoImg{
	width: 35px;
	height: 35px;
	margin: 14px 0px 14px 20px;
}
.listNav {
	width: 80%;
	padding: 0;
	margin: 0;
	text-align: right;
    margin-right: 15px;
}
.item {
	box-sizing: border-box;
	display: inline-block;
	text-align: right;
	line-height: 24px;
  	font-size: 18px;
  	font-weight: bolder;
}
